/* font-family: 'Raleway', sans-serif;  */ 
/* Global Styling */

* {
    box-sizing: border-box; 
}

body {
    font-family: 'Raleway', sans-serif;
    padding: 0%;
    margin: 0%;
    max-width: 1550px;
}

/* General Styling */

:root {
    --primary-blue: #0065FC;
    --secondary-blue: #DEEBFF;
    --background-grey: #F2F2F2;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Typography */ 

.typography1 {
    margin: 2% 3% 0%;
}

.text1 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}

.text2 {
    font-weight: 700;
    color: grey;
    font-size: 16px;
}

/* info */

.typography2 {
    margin: 2% 3% 0%;
}

.info {
    align-items: center;
    display: flex;
    gap: 10px;
}

.info-wrap {
    width: 28%;
    overflow-wrap: break-word;
    margin-top: 0%;
}

.info button {
    border-radius: 50%;
    background: white;
    border: 1px solid rgba(223, 217, 217, 0.8);
    
}

.info button i {
    color: #0065FC;
    padding: 3px;
    padding-bottom: 1px;
}

.info-wrap p {
    color: grey;
    font-weight: 700;
}

@media screen and (max-width:450px) {
    .info-wrap {
        width: 100%;
    }
    
}

/* Section Styling */ 

/* header */ 

/* Desktop navbar */

header {
    margin: 2% 3% 0%;
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
}

.desktop-nav li  {
    display: inline-block;
    padding: 0px 20px;
    position: relative;
}

.desktop-nav .link-color1 {
    color: grey;
    font-weight: 700;
}

.desktop-nav .link-color2 {
    color: var(--primary-blue);
    font-weight: 700;
}


.nav-style .link-color1::after {
    content: "";
    position: absolute;
    background-color: var(--primary-blue);
    height: 2px;
    width: 0%;
    top: 0px;
    display: inline-block;
    right: 3px;
    transition: 0.3s;
    bottom: 70px;
}

.nav-style .link-color1:hover {
    color: var(--primary-blue);
}

.nav-style .link-color1:hover::after {
    width: 100%;
}



/* Mobile Navbar */



.mobile-nav a {
    color: grey;
    font-weight: 700;
}

.mobile-nav ul {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 0%;
    gap: 30px;
}

/*

.mobile-nav a::after {
    content: "";
    position: absolute;
    background-color: lightgrey;
    height: 2px;
    width: 100%;
    top: 40px;
    display: inline-block;
    right: 3px;
    transition: 0.3s;
    bottom: 0px;
    margin:0%;
}

.mobile-nav a:hover {
    color: var(--primary-blue);
}

.mobile-nav a:hover::after {
    width: 100%;
    background-color: var(--primary-blue);
}

*/

@media screen and (min-width:450px) {
    .mobile-nav  {
        display: none;
    }
}



@media screen and (max-width:450px) {
    .link-color1 {
        display: none;
    }
}

/* Search Box */

.search-container {
    margin: 2% 3% 0%;
    display: flex;
    padding: 0%;
    height: 50px;
}

.map {
    width: 50px;
    border: 1px solid rgba(241, 234, 234, 0.5);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    padding-right: 13px;
}

.search-container input {
    width: 200px;
    border: 1px solid rgba(241, 234, 234, 0.5);
    padding-left: 1em;
    font-size: 16px;
    font-weight: 900;
}

.search-container .click {
    width: 100px; 
    border: 1px solid rgba(241, 234, 234, 0.5);
    background: #0065FC;
    color: white;
    font-size: 16px;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

/* Mobile Search */

.mobile-search {
    margin: 2% 3% 0%;
    display: flex;
    justify-content: center;
    height: 40px;
}

.map2 {
    width: 40px;
    border: 1px solid rgba(241, 234, 234, 0.5);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    margin: 0%;
}

.mobile-search input {
    width: 175px;
    border: 1px solid rgba(241, 234, 234, 0.5);
    padding-left: 0.75em;
    font-weight: 900;
}

.mobile-search .click2 {
    border: 1px solid rgba(241, 234, 234, 0.5);
    background: var(--primary-blue);
    color: white;
    width: 40px;
    border-radius: 20%;
}


@media screen and (min-width:450px) {
    .mobile-search {
        display: none;
    }
}



@media screen and (max-width:450px) {
    .search-container {
        display: none;
    }
}

/* Fliter */

.fliter-container {
    margin: 2% 3% 0%;
}

.flex {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.fliter {
    height: 50px;
    width: 160px;
    background: white;
    border-radius: 40px;
    border: 1px solid rgba(223, 217, 217, 0.8);
    border-left: none;
}

.fliter2 {
    height: 50px;
    width: 195px;
    background: white;
    border-radius: 40px;
    border: 1px solid rgba(223, 217, 217, 0.8);
    border-left: none;
}

.icon {
    border-radius: 40px;
    height: 100%;
    width: 50px;
    background:#DEEBFF;
    border: 0;
}

.fliter span {
    margin-left: 10px;
}

.fliter2 span {
    margin-left: 10px;
}


.fliter  i {
    color: #0065FC;
}

.fliter2 i {
    color: #0065FC;
}

.text5 {
    font-weight: 700;
}

/* Mobile view */


@media screen and (max-width:450px) {
    .flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Main Section */

/* Desktop boxes */

.main .flex-container {
    display: flex;
    justify-content: space-between;
    margin: 2% 3% 0%;
    align-items: center;
}

.box-1 {
    background: var(--background-grey);
    height: 600px;
    width: 65%;
    border-radius: 5%;
}

.box-1 h3 {
    margin: 1em 3em;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

.box-1 h4 {
    margin: 1% 3.5em;
    margin-top: 3em;
}

.pic-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1%;
    overflow: hidden;
    
}

.card1 {
    height: 175px;
    width: 15em;
    background: white;
    margin-bottom: 2em;
    border-radius: 10px;
}

.card {
    height: 175px;
    width: 15em;
    background: white;
    border-radius: 10px;
}

.fit {
    object-fit: cover;
    height: 60%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid white;
}

.card1 img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px; 
}

.card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px; 
}

.card1 h4 {
    margin: 1% 4%;
    font-size: 14px;
}

.card1 p {
    margin: 1% 4%;
    font-size: 12px;
}

.card1 .ratings {
    margin: 2% 4%;
    font-size: 12px;
}

.card1 i {
    color: #0065FC;
}

.card1 .grey i {
    color: lightgrey;
}

.card h4 {
    margin: 1% 4%;
    font-size: 14px;
}

.card p {
    margin: 1% 4%;
    font-size: 12px;
}

.card .ratings {
    margin: 2% 4%;
    font-size: 12px;
}

.card i {
    color: #0065FC;
}

.card .grey i {
    color: lightgrey;
}

/* Box 2 */

.box-2 {
    background: var(--background-grey);
    height: 600px;
    width: 32%;
    border-radius: 5%;
}

.position {
    display: flex;
    align-items: center;
    gap: 50%;
    margin: 4% 4%;
    margin-top: 25px;
    margin-bottom: 0;
}

.position h3 {
    margin-left: 25px;
}

.grid2 {
    margin: 1% 4%;
}

.card2 {
    height: 135px;
    width: 85%;
    background: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 8%;
    border-radius: 10px;
    flex-wrap: wrap;
}

.fit2 {
    object-fit: cover;
    height: 100%;
    width:40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border:3px solid white;
}

.card2 h4 {
    width: 50%;
    margin: 3% 0%;
    font-size: 14px;
}

.card2 p {
    font-size: 13px;
    margin: 4% 0%;
}

.card2 .ratings2 {
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 12px;
}

.card2 .ratings2 i {
    color: #0065FC;
}

.card2 .grey2 i {
    color: lightgrey;
}

/* Mobile box */

.mobile-box {
    background: var(--background-grey);
    height: 600px;
    width: 100%;
}

.mobile-grid h3 {
    margin: 5% 5%;
}

.mobile-grid h4 {
    margin: 5% 5%;
}

.mobile-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mobile-pic {
    height: 225px;
    width: 90%;
    background: white;
    border-radius: 5%;
    box-shadow: 2px 2px lightgrey;
    border: 1px solid rgba(235, 229, 229, 0.4);
    margin-bottom: 20px;

}

.fit3 {
    object-fit: cover;
    height: 60%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid white;
}

.mobile-pic h4 {
    margin: 1% 4%;
}

.mobile-pic p {
    margin: 1% 4%;
}

.mobile-pic .ratings3 {
    margin: 2% 4%;
    font-size: 12px;
}

.mobile-pic .ratings3 i {
    color: #0065FC;
}

.mobile-pic .grey3 i {
    color: lightgrey; 
}



.position2 {
    display: flex;
    align-items: center;
    gap: 150px;
    margin-top: 20px;
}

.grid5 {
    display: flex;
    flex-direction: column;
}

.card6 {
    height: 135px;
    /* width: 85%; */
    background: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 8%;
    border-radius: 10px;
    flex-wrap: wrap;
    margin: 2% 2%;
}

.fit6 {
    object-fit: cover;
    height: 100%;
    width:40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border:3px solid white;
}

.card6 h4 {
    width: 50%;
    margin: 3% 0%;
    font-size: 14px;
}

.card6 p {
    font-size: 13px;
    margin: 3% 0%; 
}

.card6 .ratings6 {
    margin-top: 4%;
    margin-bottom: 1%;
    font-size: 12px; 
}

.card6 .ratings6 i {
    color: #0065FC;
}

.card6 .grey6 i {
    color: lightgrey;
}

@media screen and (max-width:450px) {
    .main .flex-container {
        display: none;
    }
}

@media screen and (min-width:450px) {
    .mobile-grid {
        display: none;
    }

    .mobile-grid3 {
        display: none;
    }
    
}

@media screen and (max-width:800px) {
    .position {
        gap: 100px;
    }

    .flex-container {
        flex-direction: column;
    }

    .box-1 {
        width: 90%;
        margin-bottom: 2em;
    }

    .box-2 {
        width: 90%;
        height: 400px;
    }

    .position {
        gap: 25em;
    }

    .card2 {
        height: 160px;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:1210px) {
    /* .tablet {
        display: none;
    } */

    .box-1 {
        height: 1000px;
    }

    .box-2 {
        height: 1000px;
    }
}

/* Picture Grid */

.main2 {
    margin: 2% 3% 0%;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.card-long {
    height: 500px;
    width: 300px;
    background: white;
    border-radius: 5%;
    box-shadow: 2px 2px lightgrey;
    border: 1px solid rgba(235, 229, 229, 0.4);
}

.card-small1 {
    height: 250px;
    width: 300px;
    background: white;
    margin-bottom: 50px;
    border-radius: 5%;
    box-shadow: 2px 2px lightgrey;
    border: 1px solid rgba(235, 229, 229, 0.4);
}

.card-small2 {
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 2px 2px lightgrey;
    border: 1px solid rgba(235, 229, 229, 0.4);
}

.card-small-1 {
    height: 200px;
    width: 300px;
    background-color: white;
    margin-bottom: 50px;
    border-radius: 5%;
    box-shadow: 2px 2px lightgrey;
    border: 1px solid rgba(235, 229, 229, 0.4);
}

.card-small-2 {
    height: 250px;
    width: 300px;
    background: white;
    border-radius: 5%;
    box-shadow: 2px 2px lightgrey;
    border: 1px solid rgba(235, 229, 229, 0.4);
}

.stretch {
    object-fit: cover;
    width: 300px;
    height: 450px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.stretch2 {
    object-fit: cover;
    width: 300px;
    height: 200px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.stretch3 {
    object-fit: cover;
    width: 300px;
    height: 150px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.text6 {
    font-weight: 700;
    margin-top: 10px;
}

.card-long h4 {
    margin-top: 4%;
    margin-left: 10%;
}

.card-small-1 h4 {
    margin-top: 4%;
    margin-left: 10%;
}

.card-small1 h4 {
    margin-top: 4%;
    margin-left: 10%;
}

.card-small-2 h4 {
    margin-top: 4%;
    margin-left: 10%;
}

.card-small2 h4 {
    margin-top: 4%;
    margin-left: 10%;
}

.mobile-columns {
    margin: 5% 5%;
}

.mobile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card4 {
    height: 200px;
    background: white;
    border-radius: 5%;
    box-shadow: 2px 2px lightgrey;
    border: 1px solid rgba(235, 229, 229, 0.4);
    margin-bottom: 20px;
}

.fit4 {
    object-fit: cover;
    height: 75%;
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.card4 h4 {
    margin: 5% 5%;
    margin-top: 3%;
}

/* Mobile view */

@media screen and (max-width:450px) {
    .main2 {
       display: none;
    }
    
}

/* Footer */

footer {
    background: var(--background-grey);
    margin: 0%;
    padding: 0%;
    display: flex;
    height: 100%;
    gap: 200px;
    padding-top: 10px;
}

.link-column .bold-link a {
    color:black;
    font-weight: 700;
}

.link-column li a {
    color: grey;
    font-weight: 700;
}

.link-column ul li {
    padding: 10px 0px;
}

/* Mobile footer */

@media screen and (max-width:450px) {
    footer {
        flex-direction: column;
        gap: 50px;
        line-height: 10px;
        height: 600px;
    }
}

@media screen and (min-width:450px) {
    .mobile-columns {
        display: none;
    }
    
}

@media screen and (max-width:850px) {
    footer {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}